.flex-3-items {
  display: flex;
  justify-content: space-evenly;
  @include desktop-container;
}

.h2texto {
  text-align: center;
  max-width: 900px !important;
  @include desktop-container;
}


.caption {
  text-align: center;
  padding-top: 35px;
  a {
    color: black !important;
  }
}

.text-square-half {
  text-align: center;
  padding: 0 5%;
  h3 {
    padding-bottom: 40px;
  }
  p{
    padding-bottom: 30px;
  }
  a {
    color: black !important;
  }
}
 
 #selected-person{
   display: none!important;
 }


