header {
    display: block;

    .header {
        @include desktop-container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-family: $font;

        span {
            font-size: 48px;
        }

        .headerNav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            nav {
                a {
                    color: white !important;
                    margin: 0 10px;
                    text-transform: lowercase;
                    text-decoration: none !important;
                }
            }
        }

        button {
            color: black    ;
            background-color: white;
            border-radius: 2px;
            border: none;
            width: 120px;
            height: 50px;
        }
    }

    .headerContent {
        @include desktop-container;
        height: 400px;
        padding-top: 150px;
        padding-left: 80px;
        color: white;

    }
}
