.bg-animals {
    background-image: url("https://images.unsplash.com/photo-1561405431-a0817d11a4c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-animals-dark {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://images.unsplash.com/photo-1561405431-a0817d11a4c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-header-dark {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://images.unsplash.com/photo-1505916349660-8d91a99c3e23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}


.bg-estancia1-price {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://canplans.files.wordpress.com/2019/06/img_4284_lowres.jpg?w=640");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 500px;
}

.gallery{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
    }
}