section {
  margin-top: 60px;
}

.estancias {

  .h2texto {
    margin-bottom: 20px;
  }
}

.card-estancia{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.huerto {

  .h2texto {
    margin-bottom: 20px;
  }
}

.subtitle-text-2col{
  margin-left:160px;
  margin-right:160px;
  margin-bottom:60px;
}



