.text-img-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100% !important;
    color: white !important;
    height: 350px;
    a{
        color: white !important;
    }
}
