h1 {
    font-size: 48px !important;
    font-family: $font !important;
}

h2 {
    font-size: 40px !important;
    font-family: $font !important;

}

h3 {
    font-size: 32px !important;
    font-family: $font !important;
}

p {
    font-size: 16px !important;
    font-family: $font !important;
}

a {
    font-size: 16px !important;
    font-weight: bold !important;
    font-family: $font !important;
}
