h1 {
    font-size: 48px !important;
    font-family: $font !important;
}

h2 {
    font-size: 40px !important;
    font-family: $font !important;

}

h3 {
    font-size: 30px !important;
    font-family: $font !important;
}

p {
    font-size: 16px !important;
    font-family: $font !important;
    line-height: 28px !important;
}

a {
    font-size: 16px !important;
    font-weight: bold !important;
    font-family: $font !important;
    text-decoration: underline !important;
}

label{
    font-size: 16px !important;
    font-family: $font !important;
}
