body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.bullshit {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #777777;
  font-family: "PT Mono", monospace;
}

.bullshit h1 {
  font-size: 48px;
}

.bullshit nav a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.bullshit button {
  background-color: white;
  border-radius: 2px;
}

